mat-toolbar{
  padding: 0;
}
header{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.nav{
  gap: 8px;
  display: none;

  a{
    color: var(--bancom-color-neutral);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
    padding: 0 8px;
  }

  @media (min-width: 1024px) {
    display: block;
  }
}
.nav-options{
  gap: 40px;
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.toggle-menu{
  @media (min-width: 1024px) {
    display: none;
  }
}
