<section class='hero'>
  <div class='container hero-main'>
    <div class='hero-content'>
      <h1>The easiest way to manage projects</h1>
      <p>From the small stuff to the big picture, organizes the work so teams know what to do, why it matters, and how to get it done.</p>
      <div class='gap-16 flex'>
        <button mat-raised-button color="primary" class="btn">
          Get Started
        </button>
        <button mat-button color="primary" class="btn">
          <mat-icon fontSet="material-icons-outlined">play_circle</mat-icon>
          Watch Video
        </button>
      </div>
    </div>
    <div class='box-phone'>
      <img ngSrc='assets/images/phone.png' alt='phone' height='649' width='333'>
    </div>
  </div>
</section>
