.mat-mdc-form-field{
  width: 100%;
}

.mdc-dialog__actions{
  padding-top: 80px;
  width: 50%;
  margin: 0 auto;
}

.bancom-modal{
  width: 600px;
  padding: 60px 70px;
}

.bancom-modal-close{
  position: absolute;
  right: 20px;
  top: 20px;
}

.bancom-content{

  h2{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 40px;
  }
}
